<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Vue Basics</title>
  </head>
  <body>
    <main id="vue_app">
      <h1>Vue Basics</h1>
      <h2>Setup - Not reactive by default</h2>
      <p>{{street}}</p>
      <h2>Data - Reactive by default</h2>
      <p>{{city}}</p>
      <p>{{nation}}</p>

      <br />

      <input
        :placeholder="placeholderText"
        :disabled="!isLoggedIn"
      />
      <button @click="isLoggedIn = !isLoggedIn">{{buttonText}}</button>

      <h2>Array iteration</h2>
      <ul>
        <li v-for="(city, index) in cities" :key="index">{{`[${index}]`}} {{city}}</li>
      </ul>

      <h2>Object property iteration</h2>
      <ul>
        <li v-for="(value, prop, index) in nation" :key="index">{{`[${index}]`}} {{prop}}: {{value}}</li>
      </ul>

      <h2>Using Computes</h2>
      <p>If I was born in {{yearBorn}}, I am now {{age}} years old</p>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        setup() {
          return {
            street: "Northumberland Street",
          };
        },
        data() {
          return {
            city: "London",
            cities: ["London", "Liverpool", "Manchester"],
            nation: {name: "United Kingdom", currency: "Pound Sterling", capital: "London"},
            isLoggedIn: false,
            yearBorn: 2002
          };
        },
        computed: {
          placeholderText() {
            return this.isLoggedIn ? "Log in to search" : "Search...";
          },
          buttonText() {
            return this.isLoggedIn ? "Log Out" : "Log In";
          },
          age() {
            return new Date().getFullYear() - this.yearBorn
          },
          nationInformation: {
            get() {
              return `the nation ${this.nation.name}'s capital is ${this.nation.capital}, its currency is ${this.nation.currency}`
            },
            set(value) {
              this.nation.name = value.name;
              this.nation.capital = value.capital;
              this.nation.currency = value.currency;
            }
          }
        },
      });

      let vm = app.mount("#vue_app");
    </script>
  </body>
</html>
